body {
    background-color: var(--mud-palette-background);
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}

.main-background {
}

.text-shadow {
    text-shadow: 0.03em 0.04em 0.1em rgba(0,0,0,0.9), 0 0 0.3em rgba(0,0,0,0.3);
}

.appbar-filter {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: none !important;
}

.mud-appbar {
    background: linear-gradient( rgba(255,255,255,0.1607843135) 0%, rgba(255,255,255,0.117647059) 7%, rgba(255,255,255,0.0607843135) 25%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.0607843135) 90%, rgba(255,255,255,0.0980392155) 100%), var(--mud-palette-appbar-background);
}

.mud-drawer {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.mud-card {
    background-color: var(--mud-palette-drawer-background);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.mud-table {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.mud-list-item-icon {
    min-width: 36px;
}

.mud-list-item-text .mud-typography {
    font-family: var(--mud-typography-default-family);
}

.footer .mud-typography {
    font-family: var(--mud-typography-default-family);
}