@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode=true Theme="Themes.DefaultTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Class="appbar-filter" Elevation="0" />
    <MudAppBar Elevation="10" >
        <MudText Typo="Typo.h5">Vagabond K's Indicators</MudText>
        <MudSpacer/>
        <SectionOutlet SectionName="AppBarContent"/>
    </MudAppBar>
    <MudDrawer Open="true" Elevation="10" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader>
            <svg version="1.1" role="img"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 280 220" style="width: 192px;height: 150px;">
                <title>Vagabond K</title>
                <g fill="#ffffff">
                    <path d="m 140,56.005236 c -17.67311,0 -32,14.326888 -32,32 0,17.673114 14.32689,32.000004 32,32.000004 17.67311,0 32,-14.32689 32,-32.000004 0,-17.673112 -14.32689,-32 -32,-32 z m -20,8 h 11 v 24 l 16,-24 h 13 l -16,24 16,24.000004 H 147 L 131,88.005236 v 24.000004 h -11 z" />
                    <path d="m 48,27.99962 v 32 l 63.43164,0.002 c 7.1808,-7.325967 17.15753,-11.90336 28.20313,-12.002 L 60,48.001573 v -7.998047 l 180,-0.0039 V 139.99963 l -8,8 20,0.0117 V 28.003526 Z m 0,0 -20,0.0059 v 119.9941 h 204 v -32 h -63.43359 c -7.2348,7.3804 -17.30758,11.9688 -28.45118,12 L 220,128.00157 v 7.99805 H 40 v -100 z M 220,47.997667 V 95.99962 h -8 v -48 h -71.63477 c 21.924,0.1958 39.63477,18.03012 39.63477,40 0,7.2864 -1.94796,14.116 -5.35156,20 h 13.36523 c 2.5676,-6.1568 3.98633,-12.9124 3.98633,-20 0,-10.3088 -2.99983,-19.915607 -8.17383,-27.998047 L 200,59.99962 v 48 h 32 V 47.997667 Z M 105.34961,67.99962 48,68.001573 v 12 H 64 V 116.00157 H 48 v 12 l 91.88477,-0.002 c -22.038,-0.062 -39.88477,-17.9468 -39.88477,-40 0,-7.2852 1.94681,-14.1168 5.34961,-20 z M 76,80.001573 H 88.611328 C 88.208928,82.608773 88,85.27962 88,87.99962 c 0,10.3096 3.000581,19.91955 8.175781,28.00195 H 76 Z m 39.76172,75.976567 -5.72656,36.01562 h 11.32031 l 0.56641,-6.67383 h 3.92773 l 0.56641,6.67383 h 11.32031 l -6.25977,-36.01562 z m 23.83789,0 v 36.01562 h 12.44531 c 4.3228,0 7.18168,-0.66128 8.58008,-1.08008 1.398,-0.4192 2.41669,-1.19758 3.05469,-2.33398 0.6384,-1.1372 0.95703,-2.88791 0.95703,-5.25391 v -3.23633 c 0,-2.2784 -0.43544,-3.96831 -1.30664,-5.07031 -0.8712,-1.102 -2.53158,-1.89234 -4.98438,-2.36914 2.4972,-0.4352 4.16838,-1.05869 5.01758,-1.87109 0.8488,-0.8128 1.27344,-2.25121 1.27344,-4.31641 0,-3.0468 -0.55296,-5.25611 -1.66016,-6.62891 -1.1068,-1.3728 -2.56053,-2.73244 -4.36133,-3.18164 -1.8004,-0.4492 -4.44971,-0.67382 -7.94531,-0.67382 z m 58.59766,0 v 36.02148 h 9.58789 v -16.41797 l 5.32812,16.41797 h 9.58789 v -36.02148 h -9.58789 v 16.26367 l -6.39258,-16.26367 z m 28.76562,0 v 36.02148 h 13.63477 c 2.586,0 3.76012,-0.31629 5.04492,-0.55469 1.2844,-0.2388 3.12405,-0.91798 3.99804,-1.51758 0.874,-0.5996 1.48439,-1.42978 1.83399,-2.49218 0.3496,-1.0628 0.52539,-3.17102 0.52539,-6.32422 v -12.30078 c 0,-3.3248 -0.11862,-5.5531 -0.35742,-6.6875 -0.2384,-1.1344 -0.83883,-2.1662 -1.79883,-3.0918 -0.96,-0.9264 -2.36002,-2.03856 -4.19922,-2.44336 -1.8396,-0.4052 -5.3702,-0.60937 -10.5918,-0.60937 z M 28,155.98204 33.978516,191.9879 h 15.714843 l 5.47461,-36.00586 h -11.1875 l -0.632813,6.95313 c -0.5216,5.2596 -1.108912,11.41519 -1.763672,18.46679 -0.64924,-6.9824 -1.447604,-15.75192 -2.396484,-25.41992 z m 31.296875,0 -5.742187,36.00586 H 64.875 l 0.580078,-6.66797 h 3.929688 l 0.550781,6.66797 h 11.320312 l -6.24414,-36.00586 z m 35.998047,0 c -3.2072,0 -5.822903,0.62314 -7.845703,1.86914 -2.0224,1.2452 -3.246628,2.61422 -3.673828,4.10742 -0.4272,1.4932 -0.640625,3.88981 -0.640625,7.19141 v 10.26563 c 0,2.3756 0.10104,4.1577 0.30664,5.3457 0.2052,1.1872 0.719816,2.32154 1.541016,3.40234 0.8212,1.0816 2.023022,1.98866 3.607422,2.72266 1.584,0.734 3.283256,1.10156 5.097656,1.10156 1.526,0 2.849903,-0.22317 3.970703,-0.66797 1.1208,-0.4444 2.051063,-1.21083 2.789067,-2.29883 l 0.99023,2.97266 h 6.73438 V 172.87267 H 95.386719 v 5.33398 h 2.130859 v 4.01563 c 0,1.5696 -0.117915,2.62592 -0.353516,3.16992 -0.236,0.5444 -0.685303,0.8164 -1.345703,0.8164 -0.5992,0 -0.997665,-0.24703 -1.197265,-0.74023 -0.2,-0.4928 -0.300782,-1.51968 -0.300782,-3.08008 v -16.67578 c 10e-7,-1.7776 0.09219,-2.88059 0.275391,-3.30859 0.1832,-0.4288 0.530616,-0.64258 1.041016,-0.64258 0.5884,0 0.959634,0.24659 1.115234,0.74219 0.1552,0.4956 0.232422,1.72771 0.232422,3.69531 v 3.11914 h 11.187505 v -1.48047 c 0,-2.8104 -0.31682,-4.95293 -0.94922,-6.42773 -0.6328,-1.4748 -1.98912,-2.74832 -4.07032,-3.82032 -2.0808,-1.0716 -4.699818,-1.60742 -7.857418,-1.60742 z m 86.123048,0 c -2.3472,0 -4.40317,0.17365 -6.16797,0.81446 -1.7644,0.6416 -3.16553,1.70599 -4.20312,2.90039 -1.03762,1.1948 -1.65437,2.51458 -1.85157,3.95898 -0.1968,1.4448 -0.29687,3.90074 -0.29687,7.36914 v 5.91797 c 0,3.556 0.10339,6.0452 0.30859,7.4668 0.2056,1.4216 0.84658,2.738 1.92578,3.94922 1.0796,1.2108 2.50761,2.1167 4.28321,2.7207 1.776,0.6044 3.77715,0.9082 6.00195,0.9082 2.3472,0 4.40317,-0.32169 6.16797,-0.96289 1.7644,-0.6416 3.16552,-1.55951 4.20312,-2.75391 1.0376,-1.1948 1.65436,-2.51458 1.85156,-3.95898 0.19681,-1.4448 0.29493,-3.90114 0.29493,-7.36914 v -5.91797 c 0,-3.556 -0.10144,-6.04324 -0.30664,-7.46484 -0.2056,-1.4216 -0.84814,-2.73842 -1.92774,-3.94922 -1.0792,-1.2108 -2.5072,-2.26514 -4.2832,-2.86914 -1.7756,-0.6044 -3.7748,-0.75977 -6,-0.75977 z m 0.041,5.7793 c 0.5216,0 0.86791,0.22418 1.03711,0.67578 0.1692,0.4516 0.25391,1.48556 0.25391,3.10156 v 15.9668 c 0,2.0468 -0.081,3.34272 -0.24219,3.88672 -0.1608,0.5444 -0.53022,0.8164 -1.10742,0.8164 -0.566,0 -0.92683,-0.23658 -1.08203,-0.70898 -0.1556,-0.472 -0.23242,-1.71753 -0.23242,-3.73633 v -16.22461 c 0,-1.7876 0.11791,-2.86291 0.35351,-3.22851 0.236,-0.366 0.57593,-0.54883 1.01953,-0.54883 z m -30.67187,0.44336 c 0.838,0.0144 1.40105,0.0808 1.68945,0.19922 0.2884,0.118 0.52313,0.40342 0.70313,0.85742 0.1804,0.454 0.27148,1.24199 0.27148,2.36719 0,2.1344 -0.11088,3.4277 -0.33008,3.8789 -0.2192,0.4516 -0.72814,0.67774 -1.52734,0.67774 -0.1884,0 -0.45704,0.007 -0.80664,0.0215 z m 87.36328,0 c 0.9208,0 1.54806,0.10711 1.88086,0.32031 0.3332,0.2132 0.54621,0.54746 0.64063,1.00586 0.094,0.4584 0.14062,1.49874 0.14062,3.11914 v 13.91797 c 0,2.3844 -0.13992,3.84712 -0.41992,4.38672 -0.2804,0.5392 -1.02699,0.80859 -2.24219,0.80859 z m -170.730468,1.625 c 0.61588,6.1304 1.12605,11.22038 1.53125,15.26758 h -3.595703 c 0.42724,-3.1624 1.115573,-8.25318 2.064453,-15.26758 z m 56.466798,0 c 0.6156,6.1304 1.12645,11.22038 1.53125,15.26758 h -3.5957 c 0.4272,-3.1624 1.11525,-8.25318 2.06445,-15.26758 z m 26.90039,11.71094 c 1.2096,0.046 1.95548,0.2352 2.23828,0.5664 0.2832,0.3308 0.42578,1.27895 0.42578,2.84375 v 3.40235 c 0,1.4772 -0.15861,2.40409 -0.47461,2.77929 -0.3164,0.3748 -1.04625,0.58446 -2.18945,0.63086 z" />
                </g>
            </svg>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
    <MudPaper Square="true" Class="footer">
        <MudContainer Class="py-8">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" lg="12">
                    <div style="display:flex;justify-content:center;flex-wrap:wrap">
                        <div class="d-flex align-center my-1">
                            <MudIcon Icon="@Icons.Material.Filled.Mail" Size="Size.Small" Class="me-1" />
                            <a href="mailto:vagabond-k@naver.com"><MudText Typo="Typo.body2" Class="me-4">vagabond-k@naver.com</MudText></a>
                        </div>
                        <div class="d-flex align-center my-1">
                            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" Class="me-1" />
                            <MudText Typo="Typo.body2">Changwon-si, Gyeongsangnam-do, Republic of Korea</MudText>
                        </div>
                    </div>
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="my-1">Copyright © 2024. Vagabond K. All Rights Reserved.</MudText>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudPaper>
</MudLayout>
<MudScrollToTop TopOffset="100">
    <MudFab Color="Color.Dark" StartIcon="@Icons.Material.Filled.KeyboardDoubleArrowUp" />
</MudScrollToTop>
@code {
    [Parameter]
    public RenderFragment? AppBarContent { get; set; }
}